.App {
  background: #fff;
  font-family: Montserrat, fantasy;
  font-weight: 300;
  font-style: normal;
  line-height: 1;
  color: #6c7a89;
}

.SideBar {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30%;
  padding: 0;
}

.SideBar-content {
  position: relative;
  min-height: 100vh;
  padding: 40px 40px 135px;
}

.SideBar-title {
  font-size: 35px;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1;
  color: #2a2f36;
  text-decoration: none;
}

.SideBar-title__tagline {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.5;
  color: #6c7a89;
}

.SideBar-menu {
  margin-top: 20px;
}

.SideBar-menu__wrap {
  position: relative;
  background: 0 0;
  visibility: visible;
  overflow: visible;
  opacity: 1;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  z-index: 90;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.SideBar-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.SideBar-menu__list__item {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0;
}

.SideBar-menu__list__item__link {
  padding: 0;
  font-size: 16px;
  color: #2a2f36;
  font-weight: 500;
  text-decoration: none;
}

.MainPage {
  padding-left: 30%;
}

.MainPage-content {
  float: left;
  clear: both;
  width: 100%;
  background-color: cornsilk;
}
