.socials {
  list-style: none;
  margin: 0;
  padding: 0;
}

.socials__item {
  display: inline-block;
  margin-left: 10px;
}

.socials__item:first-child {
  margin-left: 0;
}

@media only screen and (min-width: 600px) {
  .socials__item__link {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .socials__item__link {
    width: 30px;
    height: 30px;
    font-size: 17px;
  }
}

.socials__item__link {
  position: relative;
  display: block;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.7);
  line-height: 1;
  color: #161b21;
}

.socials__item__link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -52%);
  -o-transform: translate(-50%, -52%);
  -ms-transform: translate(-50%, -52%);
  -webkit-transform: translate(-50%, -52%);
  transform: translate(-50%, -52%);
}

a.socials__item__link:hover {
  background-color: #fff;
}

.particles {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 30%;
}
